.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo div {
  width: 80%;
  height: 85%;
  transform: skewy(-4deg);
}

.orange {
  position: absolute;
  border-radius: 50%;
  background: var(--color-orange);
  clip-path: polygon(10% 41%, 47% 4%, 58% 15%, 32% 41%, 50% 60%, 39% 71%);
}
.orange::after{
  border-end-end-radius: 50px;
}
.blue {
  background: var(--color-blue-light);
  clip-path: polygon(47% 40%, 59% 29%, 89% 59%, 51% 97%, 40% 86%, 66% 59%);
}
